.example-spacer {
    flex: 1 1 auto;
  }
 .button1{
   width:15%;
   background:rgb(9, 194, 123);
   color:rgb(0, 0, 0);
   font-size: 17px;
   border:1px solid grey;
   border-left:none;
   cursor:pointer;
 }
 input[type=text]
 {
   width:225%;
   font-style: italic;
   font-size: 17px;
   border:1px solid grey;
   background:#fffeff;
 }
*.icon-blue {
  color: #0088cc;
}

*.icon-grey {
  color: grey;
}

i {
  width: 45px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
sup
{
font-size:15px;
font-style:bold;
color:orange;}

  
  
  
  


