<p>myorders works!</p>

<div class='container' >
    
    <div class='row   '>
<div class='col-md'>orderId</div>

<div class='col-md'>productId</div>

<div class='col-md'> action </div>
<div class='col-md'>Status   </div>



    </div>
    <hr>
<div class='container' *ngFor="let order of orders | async">
    
    <div class='row   '>
<div class='col-md'>{{order.orderId}}</div>

<div class='col-md'>{{order.productId}}</div>

<div class='col-md'><button mat-raised-button color="primary">Cancel</button></div>
<div class='col-md'><button  (click)="status(order.orderId)" button mat-raised-button color="accent">View Status</button></div>



    </div>
    
    <hr>

</div>